a {}

p {}

body {
    text-align: center;
    margin:0px;
    background-color: #e8dfc3;
}

.header {
    padding: 10px;
}

.spacer {
    padding: 30px;
}

.main {
    margin: 8px auto;
    width: 70%;
    min-width: 300px;
}

.left {
    width: 30%;
    min-width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.right {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.footer {
    clear: both;
    white-space: pre-wrap;
    font-size: 10pt;
}

.testimonial {
    margin: auto;
    border: 1px solid black;
    width: 30%;
    background-color: salmon;
}
