body {
    text-align: center;
    margin:0px;
    background: linear-gradient(to bottom, rgba(174,227,255,0.9) 0%, rgba(0,93,5,0.4) 100%); 
    background-attachment: fixed;
}

h1 {
    color: orangered;
    font-family: Courgette;
    font-size: 30pt;
    margin:  0px;
}

h2 {
    margin: 0px;
}

.header {
    padding: 10px;
}

.spacer {
    padding: 30px;
}

.outer {
    background-color: seashell;
    border: 2px solid goldenrod;
    border-radius: 20px;
    margin: 10px auto;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    width: 70%;
}

.main {
    margin: 8px auto;
    min-width: 300px;
}

.left {
    display: inline-block;
    min-width: 200px;
    vertical-align: middle;
    width: 30%;
}

.right {
    display: inline-block;
    margin: 10px;
    min-width: 300px;
    vertical-align: middle;
    width: 60%;
}

.footer {
    clear: both;
    white-space: pre-wrap;
    font-size: 10pt;
}

.testimonial {
    margin: auto;
    border: 1px solid black;
    width: 30%;
    background-color: salmon;
}
